**Email Address: sharifaiub15@gmail.com**

In [24]:
# You must run this code and use that data set for all the questions
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

> Q1. Create NumPy arrays from the ages and salaries data generated above. Print both arrays and display their dtype, ndim, shape, and size

In [25]:
ages = DF['age'].to_numpy()
salaries = DF['salary'].to_numpy()

print(f"Ages Array:\n {ages}\n")
print(f"Salaries Array:\n {salaries}\n")

print(f"Ages Array Dtype: {ages.dtype}\n")
print(f"Salaries Array Dtype: {salaries.dtype}\n")

print(f"Ages Array ndim: {ages.ndim}\n")
print(f"Salaries Array ndim: {salaries.ndim}\n")

print(f"Ages Array shape: {ages.shape}\n")
print(f"Salaries Array shape: {salaries.shape}\n")

print(f"Ages Array size: {ages.size}\n")
print(f"Salaries Array size: {salaries.size}\n")

Ages Array:
 [56 46 32 25 38 56 36 40 28 28]

Salaries Array:
 [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]

Ages Array Dtype: int64

Salaries Array Dtype: int64

Ages Array ndim: 1

Salaries Array ndim: 1

Ages Array shape: (10,)

Salaries Array shape: (10,)

Ages Array size: 10

Salaries Array size: 10

> Q2. Using the salaries array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.

In [26]:
highest_salary = np.max(salaries)
lowest_salary = np.min(salaries)

average_salary = np.mean(salaries)
average_age = np.mean(ages)

print(f"Highest Salary: {highest_salary}")
print(f"Lowest Salary: {lowest_salary}")

print(f"Average Salary: {average_salary}")
print(f"Average Age: {average_age}")

Highest Salary: 89735
Lowest Salary: 30769
Average Salary: 57446.9
Average Age: 38.5

> Q3. From the ages array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.

In [27]:
ages_greater_than_30 = ages[ages > 30]
print(f"Ages greater than 30: {ages_greater_than_30}")

count_older_than_30 = np.sum(ages > 30)
print(f"Number of employees older than 30: {count_older_than_30}")

Ages greater than 30: [56 46 32 38 56 36 40]
Number of employees older than 30: 7



> Q4. Create a new NumPy array that increases every employeeâ€™s age by 5 years (without modifying the original array). Print the new updated ages array.

In [28]:
new_ages = ages + 5

print(f"Original Ages Array: {ages}")
print(f"New Ages Array: {new_ages}")

Original Ages Array: [56 46 32 25 38 56 36 40 28 28]
New Ages Array: [61 51 37 30 43 61 41 45 33 33]



> Q5. Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.

In [29]:
total_salary_expense = np.sum(salaries)
salary_range = np.max(salaries) - np.min(salaries)

print(f"Total Salary Expense: {total_salary_expense}")
print(f"Salary Difference (Max & Min): {salary_range}")

Total Salary Expense: 574469
Salary Difference (Max & Min): 58966



> Q6. Load the employees.csv file into a Pandas DataFrame. Display the first 5 rows, and check basic info using info() and summary statistics using describe().

In [30]:
employees = pd.read_csv('employees.csv')

print("First 5 Rows:")
print(employees.head())

print("\nDataFrame Info:")
print(employees.info())

print("\nSummary Statistics:")
print(employees.describe())

First 5 Rows:
   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

Summary Statistics:
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000



> Q7. Display only the id, age, and salary columns. Then show the last 3 rows using tail().

In [31]:
columns = ['id', 'age', 'salary']
selected_columns = employees[columns]

print("Selected Columns:")
print(selected_columns)

print("\nLast 3 Rows:")
print(employees.tail(3))

Selected Columns:
   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

Last 3 Rows:
   id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR



> Q8. Filter the DataFrame to show only employees who work in the IT department. Print the result and show the total number of IT employees.

In [32]:
it_employees = employees.loc[employees['dept'] == 'IT']

print("IT Employees:")
print(it_employees)

print("\nTotal Number of IT Employees:", it_employees.shape[0])

IT Employees:
   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total Number of IT Employees: 3



> Q9. Sort the DataFrame by salary in descending order and display the top 3 highest-paid employees along with their department and age.

In [33]:
sorted_employees = employees.sort_values(by='salary', ascending=False)

top_3_employees = sorted_employees.head(3)[['salary', 'dept', 'age']]

print("Top 3 Highest-Paid Employees:")
print(top_3_employees)

Top 3 Highest-Paid Employees:
   salary     dept  age
6   89735  Finance   36
7   86101       IT   40
0   77191       HR   56



> Q10. Replace all salary values greater than 80000 with 80000 using loc. Then calculate and print the new average salary of all employees after replacement.

In [34]:
employees.loc[employees['salary'] > 80000, 'salary'] = 80000

new_average_salary = employees['salary'].mean()

print("New Average Salary:", new_average_salary)

New Average Salary: 55863.3